# Part 2: Real Estate Market Data Exploration in major French cities

In [37]:
pip install datefinder

Collecting datefinder
  Downloading datefinder-0.7.1-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pytz in /opt/conda/lib/python3.8/site-packages (from datefinder) (2020.4)
Requirement already satisfied: regex>=2017.02.08 in /opt/conda/lib/python3.8/site-packages (from datefinder) (2020.11.13)
Requirement already satisfied: python-dateutil>=2.4.2 in /opt/conda/lib/python3.8/site-packages (from datefinder) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.4.2->datefinder) (1.15.0)
Installing collected packages: datefinder
Successfully installed datefinder-0.7.1
Note: you may need to restart the kernel to use updated packages.

In [280]:
import pyspark
import pandas as pd
import datefinder

In [281]:
sc = pyspark.SparkContext(appName="Spark RDD")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=Spark RDD, master=local[*]) created by __init__ at <ipython-input-3-7f82abc9a3a2>:1

# Importing the Data

In [10]:
df= pd.read_csv('data/real_estate_transactions.csv', sep=';')

In [15]:
len(df.keys())

11

In [282]:
rdd_estate = sc.textFile('data/real_estate_transactions.csv') \
               .map(lambda line: line.split(";")) \
               .filter(lambda line: len(line)>1) \
               .map(lambda line: (line[0:]))

In [ ]:
'''['City',
  'Sale Date',
  'Sale Type',
  'Price',
  'Postal Code',
  'Commune',
  'Number of lots',
  'Local Type',
  'Living Area',
  'Number of rooms',
  'Land Area']'''

# Cleaning the Data

In [283]:
header = rdd_estate.first()
#rdd.filter(lambda line: line != header)

In [284]:
rdd_estate = rdd_estate.filter(lambda line: line != header)

rdd_estate.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  ''],
 ['NICE',
  '07/04/2015',
  'SALE',
  '32000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '51',
  '2',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '30000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '410000,00',
  '6200',
  'NICE',
  '2',
  'APARTMENT',
  '60',
  '3',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '67',
  '3',
  ''],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '500'],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '1267']]

In [285]:
def find_date(tweet) :
    matches = list(datefinder.find_dates(tweet))
    if len(matches) > 0:
        date_ = matches[0]
    else : 
        date_ = None
    return date_

In [286]:
rdd_estate_nb_year = rdd_estate.map(lambda tuple: find_date(tuple[1]).year) 


rdd_estate_nb_year.distinct().count()

5

No need to add city for 2019 transactions (already done)

In [287]:
rdd_estate.filter(lambda tuple: find_date(tuple[1]).year == 2019)

rdd_estate.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  ''],
 ['NICE',
  '07/04/2015',
  'SALE',
  '32000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '51',
  '2',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '30000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '410000,00',
  '6200',
  'NICE',
  '2',
  'APARTMENT',
  '60',
  '3',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '67',
  '3',
  ''],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '500'],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '1267']]

 keep only sale and sale before completion transactions

In [51]:
rdd_estate.map(lambda tuple: tuple[2]).distinct().count()

6

In [147]:
rdd_estate.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  ''],
 ['NICE',
  '07/04/2015',
  'SALE',
  '32000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '51',
  '2',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '30000,00',
  '6000',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '410000,00',
  '6200',
  'NICE',
  '2',
  'APARTMENT',
  '60',
  '3',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'DEPENDENCY',
  '0',
  '0',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '67',
  '3',
  ''],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '500'],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '1267']]

In [293]:
rdd_estate_clean = rdd_estate.filter(lambda tuple: tuple[2] == 'SALE' or tuple[2] == 'SALE BEFORE COMPLETION')

rdd_estate_clean.map(lambda tuple: (tuple[2],1))\
                .reduceByKey(lambda x,y : x+y)\
                .sortBy(lambda tuple: tuple[1], ascending=False)\
                .take(2)

[('SALE', 754464), ('SALE BEFORE COMPLETION', 147708)]

In [294]:
rdd_estate_clean.count()

902172

In [260]:
rdd_estate_clean.map(lambda tuple: tuple[2]).distinct().count()

6

keep only apartment and house transactions

In [261]:
rdd_estate.map(lambda tuple: tuple[7]).distinct().count()

5

In [295]:
rdd_estate_clean = rdd_estate_clean.filter(lambda tuple: tuple[7] == 'APARTMENT' or tuple[7] == 'HOUSE')

rdd_estate_clean.map(lambda tuple: (tuple[7],1))\
                .reduceByKey(lambda x,y : x+y)\
                .sortBy(lambda tuple: tuple[1], ascending=False)\
                .take(2)

[('APARTMENT', 445686), ('HOUSE', 37619)]

In [296]:
rdd_estate_clean.count()

483305

remove transactions without prices, postal code, rooms, or living area

In [263]:
rdd_estate_clean.map(lambda tuple: (tuple[8],1))\
                .reduceByKey(lambda x,y : x+y)\
                .sortBy(lambda tuple: tuple[1], ascending=False)\
                .filter(lambda tuple: tuple[1])\
                .collect()

[('30', 10357),
 ('40', 10270),
 ('60', 9224),
 ('50', 9094),
 ('45', 8659),
 ('35', 8127),
 ('70', 7954),
 ('25', 7768),
 ('65', 7757),
 ('20', 7725),
 ('42', 7373),
 ('18', 7286),
 ('32', 7154),
 ('48', 6596),
 ('28', 6516),
 ('55', 6492),
 ('38', 6392),
 ('63', 6314),
 ('68', 6285),
 ('80', 6188),
 ('43', 6140),
 ('64', 6076),
 ('67', 6075),
 ('46', 5978),
 ('66', 5938),
 ('36', 5903),
 ('62', 5875),
 ('44', 5820),
 ('47', 5763),
 ('33', 5623),
 ('52', 5608),
 ('27', 5517),
 ('26', 5404),
 ('34', 5340),
 ('41', 5337),
 ('56', 5324),
 ('39', 5311),
 ('22', 5242),
 ('37', 5212),
 ('24', 5191),
 ('31', 5141),
 ('29', 5042),
 ('61', 5035),
 ('49', 4999),
 ('58', 4916),
 ('57', 4910),
 ('75', 4839),
 ('19', 4834),
 ('23', 4750),
 ('54', 4736),
 ('53', 4618),
 ('72', 4599),
 ('69', 4441),
 ('90', 4393),
 ('51', 4368),
 ('21', 4364),
 ('59', 4324),
 ('15', 3819),
 ('17', 3807),
 ('85', 3685),
 ('16', 3646),
 ('73', 3604),
 ('78', 3572),
 ('71', 3493),
 ('76', 3484),
 ('74', 3479),
 ('82', 3434),
 ('100', 3425),
 ('77', 3099),
 ('84', 2951),
 ('81', 2875),
 ('83', 2826),
 ('79', 2763),
 ('86', 2728),
 ('12', 2692),
 ('14', 2653),
 ('88', 2423),
 ('110', 2349),
 ('87', 2338),
 ('95', 2180),
 ('89', 2080),
 ('120', 2053),
 ('92', 2015),
 ('13', 1835),
 ('98', 1823),
 ('96', 1738),
 ('10', 1681),
 ('91', 1661),
 ('93', 1658),
 ('105', 1578),
 ('94', 1572),
 ('97', 1408),
 ('130', 1366),
 ('99', 1267),
 ('102', 1234),
 ('11', 1189),
 ('106', 1173),
 ('104', 1162),
 ('115', 1138),
 ('9', 1123),
 ('103', 1099),
 ('140', 1091),
 ('108', 1078),
 ('150', 975),
 ('107', 947),
 ('101', 925),
 ('112', 889),
 ('125', 869),
 ('109', 829),
 ('160', 753),
 ('8', 737),
 ('116', 725),
 ('113', 711),
 ('114', 683),
 ('118', 665),
 ('135', 658),
 ('111', 632),
 ('117', 625),
 ('119', 560),
 ('180', 551),
 ('128', 548),
 ('124', 537),
 ('122', 535),
 ('126', 533),
 ('145', 495),
 ('123', 489),
 ('170', 483),
 ('121', 464),
 ('127', 432),
 ('200', 425),
 ('7', 422),
 ('132', 389),
 ('134', 383),
 ('133', 376),
 ('129', 375),
 ('138', 371),
 ('136', 371),
 ('137', 341),
 ('131', 335),
 ('165', 327),
 ('6', 318),
 ('142', 307),
 ('155', 291),
 ('144', 282),
 ('190', 278),
 ('141', 262),
 ('146', 261),
 ('148', 259),
 ('143', 252),
 ('175', 251),
 ('139', 240),
 ('149', 237),
 ('158', 228),
 ('156', 224),
 ('168', 211),
 ('220', 211),
 ('152', 209),
 ('210', 204),
 ('154', 197),
 ('147', 196),
 ('1', 177),
 ('151', 176),
 ('162', 174),
 ('240', 168),
 ('153', 167),
 ('157', 166),
 ('164', 162),
 ('250', 158),
 ('159', 155),
 ('167', 154),
 ('185', 153),
 ('172', 152),
 ('169', 149),
 ('5', 147),
 ('166', 143),
 ('163', 137),
 ('161', 128),
 ('230', 126),
 ('195', 123),
 ('177', 118),
 ('173', 116),
 ('196', 116),
 ('176', 115),
 ('171', 114),
 ('174', 111),
 ('187', 109),
 ('178', 107),
 ('182', 105),
 ('198', 96),
 ('188', 94),
 ('193', 94),
 ('184', 92),
 ('192', 89),
 ('179', 88),
 ('260', 86),
 ('186', 85),
 ('300', 85),
 ('208', 83),
 ('205', 82),
 ('270', 81),
 ('181', 80),
 ('215', 79),
 ('189', 77),
 ('183', 74),
 ('194', 68),
 ('2', 67),
 ('204', 65),
 ('197', 65),
 ('4', 64),
 ('280', 62),
 ('191', 60),
 ('245', 60),
 ('199', 57),
 ('225', 55),
 ('203', 54),
 ('216', 51),
 ('236', 50),
 ('202', 49),
 ('206', 49),
 ('228', 48),
 ('201', 47),
 ('217', 46),
 ('209', 46),
 ('212', 46),
 ('207', 45),
 ('235', 45),
 ('218', 44),
 ('227', 43),
 ('214', 42),
 ('232', 41),
 ('221', 40),
 ('211', 38),
 ('213', 36),
 ('219', 36),
 ('223', 36),
 ('', 35),
 ('255', 34),
 ('290', 34),
 ('246', 34),
 ('320', 34),
 ('265', 32),
 ('239', 32),
 ('350', 32),
 ('229', 31),
 ('226', 30),
 ('222', 29),
 ('258', 28),
 ('248', 28),
 ('360', 28),
 ('254', 28),
 ('224', 27),
 ('234', 25),
 ('274', 25),
 ('238', 25),
 ('275', 25),
 ('247', 25),
 ('244', 24),
 ('263', 24),
 ('249', 24),
 ('237', 24),
 ('252', 23),
 ('310', 23),
 ('233', 23),
 ('3', 23),
 ('285', 22),
 ('340', 22),
 ('277', 21),
 ('276', 21),
 ('283', 20),
 ('251', 20),
 ('231', 19),
 ('256', 19),
 ('253', 19),
 ('242', 19),
 ('400', 18),
 ('262', 18),
 ('268', 18),
 ('243', 17),
 ('241', 17),
 ('330', 16),
 ('266', 15),
 ('278', 14),
 ('279', 14),
 ('288', 14),
 ('286', 13),
 ('272', 13),
 ('259', 13),
 ('326', 13),
 ('257', 13),
 ('264', 13),
 ('295', 13),
 ('273', 13),
 ('363', 12),
 ('325', 11),
 ('296', 11),
 ('328', 11),
 ('282', 11),
 ('269', 11),
 ('289', 11),
 ('370', 10),
 ('315', 10),
 ('298', 10),
 ('650', 10),
 ('305', 9),
 ('299', 9),
 ('281', 9),
 ('500', 9),
 ('261', 9),
 ('324', 9),
 ('271', 8),
 ('267', 8),
 ('292', 8),
 ('336', 7),
 ('307', 7),
 ('386', 7),
 ('338', 7),
 ('293', 7),
 ('309', 7),
 ('297', 7),
 ('331', 6),
 ('380', 6),
 ('354', 6),
 ('341', 6),
 ('346', 6),
 ('335', 6),
 ('375', 6),
 ('440', 6),
 ('365', 6),
 ('348', 6),
 ('311', 6),
 ('302', 6),
 ('430', 6),
 ('366', 6),
 ('368', 6),
 ('352', 6),
 ('314', 6),
 ('287', 6),
 ('460', 6),
 ('410', 5),
 ('319', 5),
 ('284', 5),
 ('317', 5),
 ('390', 5),
 ('304', 5),
 ('344', 5),
 ('468', 5),
 ('522', 5),
 ('308', 5),
 ('291', 5),
 ('294', 5),
 ('318', 5),
 ('395', 5),
 ('332', 5),
 ('408', 4),
 ('351', 4),
 ('342', 4),
 ('347', 4),
 ('301', 4),
 ('426', 4),
 ('405', 4),
 ('399', 4),
 ('322', 4),
 ('357', 4),
 ('321', 4),
 ('362', 4),
 ('312', 4),
 ('306', 4),
 ('480', 4),
 ('329', 4),
 ('416', 4),
 ('420', 4),
 ('407', 4),
 ('388', 4),
 ('337', 4),
 ('481', 3),
 ('387', 3),
 ('316', 3),
 ('345', 3),
 ('411', 3),
 ('414', 3),
 ('449', 3),
 ('485', 3),
 ('359', 3),
 ('570', 3),
 ('303', 3),
 ('422', 3),
 ('643', 3),
 ('504', 3),
 ('533', 3),
 ('377', 3),
 ('349', 3),
 ('404', 3),
 ('444', 3),
 ('367', 3),
 ('402', 3),
 ('392', 3),
 ('418', 3),
 ('454', 3),
 ('323', 3),
 ('391', 3),
 ('423', 3),
 ('419', 2),
 ('447', 2),
 ('530', 2),
 ('389', 2),
 ('540', 2),
 ('456', 2),
 ('477', 2),
 ('435', 2),
 ('453', 2),
 ('356', 2),
 ('446', 2),
 ('588', 2),
 ('372', 2),
 ('442', 2),
 ('542', 2),
 ('376', 2),
 ('452', 2),
 ('595', 2),
 ('508', 2),
 ('590', 2),
 ('493', 2),
 ('379', 2),
 ('450', 2),
 ('428', 2),
 ('436', 2),
 ('397', 2),
 ('393', 2),
 ('343', 2),
 ('371', 2),
 ('374', 2),
 ('847', 2),
 ('701', 2),
 ('550', 2),
 ('472', 2),
 ('358', 2),
 ('437', 2),
 ('524', 2),
 ('498', 2),
 ('398', 2),
 ('556', 2),
 ('665', 2),
 ('415', 2),
 ('479', 2),
 ('888', 2),
 ('339', 2),
 ('313', 2),
 ('458', 1),
 ('720', 1),
 ('727', 1),
 ('598', 1),
 ('780', 1),
 ('520', 1),
 ('584', 1),
 ('560', 1),
 ('413', 1),
 ('486', 1),
 ('743', 1),
 ('616', 1),
 ('474', 1),
 ('700', 1),
 ('461', 1),
 ('545', 1),
 ('465', 1),
 ('667', 1),
 ('610', 1),
 ('417', 1),
 ('716', 1),
 ('385', 1),
 ('585', 1),
 ('562', 1),
 ('353', 1),
 ('334', 1),
 ('495', 1),
 ('499', 1),
 ('515', 1),
 ('512', 1),
 ('383', 1),
 ('451', 1),
 ('583', 1),
 ('659', 1),
 ('333', 1),
 ('467', 1),
 ('537', 1),
 ('682', 1),
 ('631', 1),
 ('412', 1),
 ('566', 1),
 ('679', 1),
 ('835', 1),
 ('490', 1),
 ('660', 1),
 ('854', 1),
 ('608', 1),
 ('445', 1),
 ('488', 1),
 ('630', 1),
 ('898', 1),
 ('644', 1),
 ('881', 1),
 ('889', 1),
 ('526', 1),
 ('697', 1),
 ('840', 1),
 ('671', 1),
 ('735', 1),
 ('769', 1),
 ('355', 1),
 ('364', 1),
 ('646', 1),
 ('431', 1),
 ('394', 1),
 ('620', 1),
 ('1500', 1),
 ('327', 1),
 ('384', 1),
 ('719', 1),
 ('409', 1),
 ('636', 1),
 ('475', 1),
 ('403', 1),
 ('546', 1),
 ('484', 1),
 ('432', 1),
 ('855', 1),
 ('904', 1),
 ('551', 1),
 ('529', 1),
 ('680', 1),
 ('511', 1),
 ('510', 1),
 ('591', 1),
 ('373', 1),
 ('672', 1),
 ('569', 1),
 ('544', 1),
 ('844', 1),
 ('421', 1),
 ('874', 1),
 ('750', 1),
 ('740', 1),
 ('497', 1),
 ('856', 1),
 ('1052', 1),
 ('476', 1),
 ('594', 1),
 ('455', 1),
 ('1469', 1),
 ('491', 1),
 ('746', 1),
 ('764', 1),
 ('878', 1),
 ('890', 1),
 ('891', 1),
 ('895', 1),
 ('775', 1),
 ('528', 1),
 ('381', 1),
 ('466', 1),
 ('439', 1),
 ('369', 1),
 ('396', 1)]

In [297]:
rdd_estate_clean = rdd_estate_clean.filter(lambda tuple: tuple[3] != '')\
                                   .filter(lambda tuple: tuple[4] != '')\
                                   .filter(lambda tuple: tuple[9] != '')\
                                   .filter(lambda tuple: tuple[8] != '')

rdd_estate_clean.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  ''],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '51',
  '2',
  ''],
 ['NICE',
  '23/03/2015',
  'SALE',
  '410000,00',
  '6200',
  'NICE',
  '2',
  'APARTMENT',
  '60',
  '3',
  ''],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '67',
  '3',
  ''],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '500'],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '1267'],
 ['NICE',
  '02/04/2015',
  'SALE',
  '130000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '31',
  '1',
  ''],
 ['NICE',
  '24/03/2015',
  'SALE',
  '115000,00',
  '6000',
  'NICE',
  '2',
  'APARTMENT',
  '50',
  '2',
  ''],
 ['NICE',
  '03/04/2015',
  'SALE',
  '172500,00',
  '6100',
  'NICE',
  '2',
  'APARTMENT',
  '63',
  '4',
  ''],
 ['NICE',
  '09/04/2015',
  'SALE',
  '360000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '109',
  '5',
  '502']]

In [298]:
rdd_estate_clean.count()

478005

In [299]:
def replaceNullValueByZero(tup):
    if tup[10] != '': 
        return tup
    else: 
        tup[10] = 0
        return tup

In [266]:
rdd_estate_clean.take(1)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  '']]

In [300]:
rdd_estate_clean = rdd_estate_clean.map(lambda tup: replaceNullValueByZero(tup))

rdd_estate_clean.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  '102000,00',
  '6000',
  'NICE',
  '1',
  'APARTMENT',
  '29',
  '2',
  0],
 ['NICE',
  '10/04/2015',
  'SALE',
  '239000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '51',
  '2',
  0],
 ['NICE',
  '23/03/2015',
  'SALE',
  '410000,00',
  '6200',
  'NICE',
  '2',
  'APARTMENT',
  '60',
  '3',
  0],
 ['NICE',
  '08/04/2015',
  'SALE',
  '215000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '67',
  '3',
  0],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '500'],
 ['NICE',
  '20/03/2015',
  'SALE',
  '625000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '160',
  '5',
  '1267'],
 ['NICE',
  '02/04/2015',
  'SALE',
  '130000,00',
  '6200',
  'NICE',
  '1',
  'APARTMENT',
  '31',
  '1',
  0],
 ['NICE',
  '24/03/2015',
  'SALE',
  '115000,00',
  '6000',
  'NICE',
  '2',
  'APARTMENT',
  '50',
  '2',
  0],
 ['NICE',
  '03/04/2015',
  'SALE',
  '172500,00',
  '6100',
  'NICE',
  '2',
  'APARTMENT',
  '63',
  '4',
  0],
 ['NICE',
  '09/04/2015',
  'SALE',
  '360000,00',
  '6200',
  'NICE',
  '0',
  'HOUSE',
  '109',
  '5',
  '502']]

In [301]:
rdd_estate_clean.count()

478005

fix price : int transformation

In [105]:
rdd_estate_clean.map(lambda tuple: (tuple[3],1))\
                .reduceByKey(lambda x,y : x+y)\
                .sortBy(lambda tuple: tuple[1], ascending=False)\
                .filter(lambda tuple: tuple[1])\
                .collect()

[('150000,00', 3715),
 ('200000,00', 3577),
 ('120000,00', 3380),
 ('100000,00', 3198),
 ('130000,00', 3190),
 ('160000,00', 3110),
 ('110000,00', 3087),
 ('140000,00', 3018),
 ('180000,00', 2986),
 ('170000,00', 2856),
 ('300000,00', 2855),
 ('250000,00', 2822),
 ('220000,00', 2811),
 ('210000,00', 2694),
 ('230000,00', 2573),
 ('90000,00', 2549),
 ('190000,00', 2499),
 ('240000,00', 2425),
 ('115000,00', 2362),
 ('80000,00', 2361),
 ('125000,00', 2350),
 ('165000,00', 2321),
 ('135000,00', 2265),
 ('145000,00', 2236),
 ('105000,00', 2113),
 ('155000,00', 2106),
 ('175000,00', 2097),
 ('280000,00', 2094),
 ('350000,00', 2069),
 ('260000,00', 2057),
 ('400000,00', 2027),
 ('185000,00', 1924),
 ('70000,00', 1914),
 ('270000,00', 1902),
 ('95000,00', 1878),
 ('85000,00', 1835),
 ('215000,00', 1768),
 ('320000,00', 1722),
 ('290000,00', 1714),
 ('75000,00', 1700),
 ('195000,00', 1688),
 ('235000,00', 1677),
 ('205000,00', 1673),
 ('225000,00', 1609),
 ('450000,00', 1608),
 ('310000,00', 1590),
 ('500000,00', 1558),
 ('330000,00', 1522),
 ('380000,00', 1506),
 ('60000,00', 1502),
 ('340000,00', 1478),
 ('360000,00', 1435),
 ('245000,00', 1363),
 ('255000,00', 1358),
 ('265000,00', 1354),
 ('370000,00', 1352),
 ('285000,00', 1307),
 ('420000,00', 1293),
 ('65000,00', 1264),
 ('275000,00', 1261),
 ('315000,00', 1257),
 ('600000,00', 1206),
 ('50000,00', 1172),
 ('390000,00', 1143),
 ('430000,00', 1102),
 ('295000,00', 1069),
 ('410000,00', 1052),
 ('550000,00', 1018),
 ('480000,00', 1002),
 ('305000,00', 1000),
 ('325000,00', 993),
 ('700000,00', 961),
 ('335000,00', 948),
 ('55000,00', 934),
 ('440000,00', 921),
 ('460000,00', 908),
 ('118000,00', 867),
 ('530000,00', 854),
 ('128000,00', 850),
 ('520000,00', 848),
 ('138000,00', 847),
 ('365000,00', 842),
 ('1000000,00', 839),
 ('345000,00', 833),
 ('108000,00', 832),
 ('470000,00', 829),
 ('375000,00', 828),
 ('168000,00', 812),
 ('148000,00', 800),
 ('158000,00', 797),
 ('650000,00', 788),
 ('152000,00', 777),
 ('800000,00', 777),
 ('112000,00', 773),
 ('1,00', 764),
 ('490000,00', 762),
 ('162000,00', 758),
 ('92000,00', 758),
 ('132000,00', 751),
 ('395000,00', 748),
 ('142000,00', 731),
 ('172000,00', 726),
 ('78000,00', 726),
 ('98000,00', 719),
 ('5500000,00', 717),
 ('122000,00', 714),
 ('540000,00', 714),
 ('133000,00', 710),
 ('129000,00', 709),
 ('123000,00', 705),
 ('355000,00', 705),
 ('178000,00', 693),
 ('88000,00', 690),
 ('385000,00', 690),
 ('127000,00', 690),
 ('147000,00', 685),
 ('415000,00', 682),
 ('167000,00', 679),
 ('82000,00', 678),
 ('117000,00', 676),
 ('113000,00', 672),
 ('107000,00', 667),
 ('137000,00', 664),
 ('72000,00', 661),
 ('157000,00', 661),
 ('45000,00', 658),
 ('750000,00', 656),
 ('102000,00', 655),
 ('83000,00', 650),
 ('143000,00', 649),
 ('620000,00', 649),
 ('149000,00', 647),
 ('77000,00', 640),
 ('425000,00', 635),
 ('510000,00', 635),
 ('93000,00', 634),
 ('610000,00', 630),
 ('126000,00', 630),
 ('173000,00', 628),
 ('900000,00', 628),
 ('139000,00', 620),
 ('580000,00', 620),
 ('124000,00', 619),
 ('169000,00', 619),
 ('630000,00', 615),
 ('87000,00', 614),
 ('153000,00', 614),
 ('119000,00', 611),
 ('103000,00', 611),
 ('40000,00', 607),
 ('182000,00', 607),
 ('159000,00', 604),
 ('475000,00', 602),
 ('163000,00', 600),
 ('208000,00', 591),
 ('192000,00', 591),
 ('435000,00', 588),
 ('560000,00', 588),
 ('570000,00', 582),
 ('850000,00', 580),
 ('1100000,00', 578),
 ('68000,00', 575),
 ('188000,00', 573),
 ('97000,00', 570),
 ('156000,00', 568),
 ('198000,00', 568),
 ('96000,00', 567),
 ('99000,00', 565),
 ('116000,00', 565),
 ('228000,00', 561),
 ('134000,00', 559),
 ('154000,00', 554),
 ('405000,00', 554),
 ('114000,00', 551),
 ('183000,00', 551),
 ('144000,00', 545),
 ('177000,00', 544),
 ('136000,00', 543),
 ('445000,00', 536),
 ('179000,00', 534),
 ('84000,00', 532),
 ('465000,00', 530),
 ('212000,00', 526),
 ('89000,00', 525),
 ('73000,00', 524),
 ('176000,00', 523),
 ('104000,00', 522),
 ('189000,00', 520),
 ('109000,00', 518),
 ('218000,00', 517),
 ('106000,00', 513),
 ('146000,00', 513),
 ('187000,00', 509),
 ('86000,00', 499),
 ('79000,00', 497),
 ('94000,00', 496),
 ('485000,00', 491),
 ('76000,00', 489),
 ('197000,00', 482),
 ('62000,00', 478),
 ('166000,00', 477),
 ('1200000,00', 475),
 ('174000,00', 473),
 ('2500000,00', 472),
 ('495000,00', 471),
 ('164000,00', 470),
 ('30000,00', 466),
 ('184000,00', 465),
 ('74000,00', 464),
 ('515000,00', 457),
 ('680000,00', 454),
 ('455000,00', 452),
 ('238000,00', 450),
 ('121000,00', 450),
 ('590000,00', 449),
 ('199000,00', 449),
 ('171000,00', 448),
 ('63000,00', 447),
 ('670000,00', 446),
 ('222000,00', 442),
 ('69000,00', 438),
 ('193000,00', 437),
 ('207000,00', 434),
 ('525000,00', 433),
 ('217000,00', 433),
 ('232000,00', 431),
 ('67000,00', 431),
 ('1050000,00', 430),
 ('213000,00', 430),
 ('186000,00', 430),
 ('640000,00', 430),
 ('202000,00', 426),
 ('237000,00', 418),
 ('950000,00', 416),
 ('214000,00', 416),
 ('141000,00', 414),
 ('248000,00', 414),
 ('242000,00', 409),
 ('660000,00', 409),
 ('91000,00', 408),
 ('194000,00', 407),
 ('58000,00', 405),
 ('252000,00', 405),
 ('720000,00', 403),
 ('227000,00', 402),
 ('233000,00', 400),
 ('161000,00', 399),
 ('66000,00', 399),
 ('219000,00', 394),
 ('209000,00', 393),
 ('216000,00', 392),
 ('81000,00', 387),
 ('64000,00', 386),
 ('1300000,00', 386),
 ('535000,00', 383),
 ('111000,00', 380),
 ('247000,00', 380),
 ('181000,00', 374),
 ('203000,00', 374),
 ('224000,00', 373),
 ('1500000,00', 367),
 ('131000,00', 367),
 ('71000,00', 365),
 ('151000,00', 364),
 ('2000000,00', 363),
 ('223000,00', 362),
 ('730000,00', 360),
 ('575000,00', 359),
 ('229000,00', 358),
 ('196000,00', 352),
 ('278000,00', 351),
 ('268000,00', 350),
 ('101000,00', 350),
 ('226000,00', 348),
 ('545000,00', 347),
 ('206000,00', 347),
 ('35000,00', 346),
 ('262000,00', 344),
 ('239000,00', 343),
 ('204000,00', 343),
 ('690000,00', 343),
 ('258000,00', 343),
 ('760000,00', 342),
 ('1250000,00', 342),
 ('147780,00', 342),
 ('243000,00', 339),
 ('57000,00', 338),
 ('253000,00', 335),
 ('625000,00', 334),
 ('234000,00', 333),
 ('780000,00', 333),
 ('54889512,00', 333),
 ('11300000,00', 331),
 ('249000,00', 328),
 ('3000000,00', 328),
 ('288000,00', 326),
 ('595000,00', 326),
 ('710000,00', 321),
 ('505000,00', 321),
 ('15804374,00', 320),
 ('740000,00', 316),
 ('257000,00', 314),
 ('59000,00', 310),
 ('11336638,00', 310),
 ('52000,00', 309),
 ('565000,00', 302),
 ('830000,00', 299),
 ('820000,00', 299),
 ('272000,00', 298),
 ('1400000,00', 295),
 ('263000,00', 294),
 ('555000,00', 294),
 ('585000,00', 293),
 ('236000,00', 292),
 ('1350000,00', 292),
 ('267000,00', 291),
 ('244000,00', 290),
 ('48000,00', 290),
 ('840000,00', 289),
 ('56000,00', 289),
 ('282000,00', 289),
 ('770000,00', 289),
 ('1000,00', 286),
 ('133852728,00', 284),
 ('1150000,00', 283),
 ('273000,00', 281),
 ('299000,00', 281),
 ('53000,00', 280),
 ('1600000,00', 280),
 ('23020226,00', 279),
 ('231000,00', 274),
 ('246000,00', 274),
 ('54000,00', 273),
 ('61000,00', 273),
 ('615000,00', 273),
 ('191000,00', 272),
 ('30350000,00', 269),
 ('292000,00', 268),
 ('287000,00', 267),
 ('810000,00', 266),
 ('266000,00', 266),
 ('283000,00', 264),
 ('318000,00', 263),
 ('211000,00', 262),
 ('259000,00', 261),
 ('870000,00', 259),
 ('312000,00', 257),
 ('298000,00', 256),
 ('8500000,00', 255),
 ('675000,00', 254),
 ('254000,00', 254),
 ('264000,00', 254),
 ('2700000,00', 254),
 ('5000,00', 251),
 ('790000,00', 250),
 ('1900000,00', 248),
 ('860000,00', 247),
 ('715000,00', 246),
 ('269000,00', 243),
 ('256000,00', 243),
 ('297000,00', 242),
 ('277000,00', 241),
 ('294000,00', 239),
 ('635000,00', 239),
 ('25000,00', 238),
 ('0,00', 236),
 ('308000,00', 236),
 ('33427218,00', 235),
 ('221000,00', 235),
 ('20000,00', 232),
 ('655000,00', 228),
 ('665000,00', 226),
 ('1700000,00', 226),
 ('279000,00', 225),
 ('332000,00', 223),
 ('293000,00', 223),
 ('605000,00', 223),
 ('201000,00', 218),
 ('317000,00', 218),
 ('10000,00', 217),
 ('342000,00', 216),
 ('241000,00', 213),
 ('322000,00', 212),
 ('307000,00', 212),
 ('284000,00', 211),
 ('3600000,00', 211),
 ('286000,00', 210),
 ('142500,00', 210),
 ('930000,00', 208),
 ('2200000,00', 208),
 ('303000,00', 207),
 ('3000,00', 206),
 ('980000,00', 205),
 ('1650000,00', 204),
 ('645000,00', 204),
 ('685000,00', 204),
 ('9200000,00', 203),
 ('15000,00', 202),
 ('960000,00', 202),
 ('289000,00', 202),
 ('276000,00', 201),
 ('313000,00', 199),
 ('328000,00', 199),
 ('880000,00', 196),
 ('333000,00', 195),
 ('352000,00', 194),
 ('302000,00', 194),
 ('47000,00', 194),
 ('323000,00', 192),
 ('920000,00', 192),
 ('9052959,00', 192),
 ('1450000,00', 191),
 ('1550000,00', 190),
 ('49000,00', 188),
 ('261000,00', 187),
 ('357000,00', 187),
 ('825000,00', 187),
 ('271000,00', 185),
 ('725000,00', 185),
 ('2556421,00', 183),
 ('338000,00', 181),
 ('12680000,00', 181),
 ('304000,00', 181),
 ('14000000,00', 181),
 ('378000,00', 180),
 ('735000,00', 180),
 ('251000,00', 180),
 ('274000,00', 180),
 ('695000,00', 180),
 ('336000,00', 179),
 ('890000,00', 179),
 ('11800000,00', 179),
 ('358000,00', 179),
 ('343000,00', 178),
 ('7720914,00', 177),
 ('152300,00', 174),
 ('6812991,00', 172),
 ('296000,00', 171),
 ('51000,00', 170),
 ('92500,00', 170),
 ('367000,00', 169),
 ('362000,00', 169),
 ('348000,00', 169),
 ('82500,00', 168),
 ('431360,00', 168),
 ('87500,00', 167),
 ('337000,00', 165),
 ('42000,00', 165),
 ('2000,00', 165),
 ('112500,00', 164),
 ('327000,00', 163),
 ('940000,00', 162),
 ('775000,00', 162),
 ('11600000,00', 161),
 ('347000,00', 160),
 ('1800000,00', 160),
 ('127500,00', 160),
 ('132500,00', 159),
 ('46000,00', 159),
 ('122500,00', 158),
 ('4000000,00', 158),
 ('2827168,20', 158),
 ('7004214,00', 157),
 ('705000,00', 156),
 ('392000,00', 156),
 ('399000,00', 156),
 ('349000,00', 155),
 ('44000,00', 155),
 ('4000,00', 155),
 ('398000,00', 154),
 ('199100,00', 154),
 ('353267,00', 153),
 ('1180000,00', 152),
 ('910000,00', 151),
 ('316000,00', 151),
 ('43000,00', 151),
 ('815000,00', 151),
 ('311000,00', 150),
 ('339000,00', 149),
 ('147500,00', 149),
 ('1249132030,00', 149),
 ('309000,00', 148),
 ('137500,00', 148),
 ('281000,00', 147),
 ('329000,00', 147),
 ('372000,00', 146),
 ('314000,00', 145),
 ('368000,00', 145),
 ('418000,00', 145),
 ('152500,00', 143),
 ('291000,00', 143),
 ('306000,00', 142),
 ('157500,00', 141),
 ('38000,00', 141),
 ('346000,00', 141),
 ('209100,00', 141),
 ('12210000,00', 141),
 ('123500,00', 140),
 ('11880932,00', 140),
 ('374000,00', 139),
 ('8050000,00', 138),
 ('1070000,00', 137),
 ('72500,00', 136),
 ('990000,00', 136),
 ('2100000,00', 136),
 ('1020000,00', 136),
 ('1040000,00', 136),
 ('15800000,00', 134),
 ('319000,00', 133),
 ('102500,00', 133),
 ('970000,00', 133),
 ('107500,00', 133),
 ('324000,00', 133),
 ('765000,00', 132),
 ('77500,00', 132),
 ('18429000,00', 132),
 ('795000,00', 132),
 ('117500,00', 131),
 ('353000,00', 131),
 ('162500,00', 130),
 ('133500,00', 130),
 ('387000,00', 130),
 ('17760092,00', 130),
 ('7600000,00', 130),
 ('97500,00', 129),
 ('172500,00', 128),
 ('2250000,00', 128),
 ('377000,00', 127),
 ('62500,00', 127),
 ('845000,00', 127),
 ('187500,00', 127),
 ('383000,00', 127),
 ('432000,00', 126),
 ('326000,00', 126),
 ('855000,00', 126),
 ('397000,00', 126),
 ('373000,00', 126),
 ('67500,00', 125),
 ('6035140,00', 125),
 ('42668992,00', 125),
 ('321000,00', 125),
 ('412000,00', 125),
 ('500,00', 125),
 ('437000,00', 124),
 ('468000,00', 124),
 ('2600000,00', 124),
 ('382000,00', 124),
 ('39000,00', 124),
 ('835000,00', 123),
 ('408000,00', 123),
 ('1080000,00', 123),
 ('5900000,00', 122),
 ('100394,00', 122),
 ('1140000,00', 122),
 ('376000,00', 121),
 ('384000,00', 120),
 ('334000,00', 120),
 ('388000,00', 120),
 ('76500,00', 120),
 ('745000,00', 119),
 ('237500,00', 119),
 ('125500,00', 119),
 ('32000,00', 118),
 ('4500000,00', 118),
 ('975000,00', 118),
 ('166500,00', 117),
 ('1260000,00', 117),
 ('3400000,00', 117),
 ('755000,00', 116),
 ('363000,00', 116),
 ('359000,00', 115),
 ('167500,00', 115),
 ('108500,00', 115),
 ('785000,00', 115),
 ('161500,00', 115),
 ('413000,00', 114),
 ('407000,00', 114),
 ('1850000,00', 114),
 ('364000,00', 114),
 ('103500,00', 113),
 ('126500,00', 113),
 ('1280000,00', 112),
 ('10000000,00', 112),
 ('5200000,00', 112),
 ('428000,00', 112),
 ('178500,00', 111),
 ('222500,00', 111),
 ('182500,00', 111),
 ('2400000,00', 111),
 ('88500,00', 111),
 ('202500,00', 110),
 ('442000,00', 110),
 ('1380000,00', 110),
 ('1060000,00', 110),
 ('369000,00', 110),
 ('448000,00', 109),
 ('423000,00', 109),
 ('8000000,00', 109),
 ('55244924,00', 109),
 ('361000,00', 109),
 ('149500,00', 109),
 ('148500,00', 109),
 ('136500,00', 109),
 ('6990763,00', 109),
 ('131500,00', 108),
 ('10500000,00', 108),
 ('192500,00', 108),
 ('36000,00', 108),
 ('393000,00', 108),
 ('113500,00', 107),
 ('7485710,00', 107),
 ('93500,00', 106),
 ('37000,00', 106),
 ('232500,00', 106),
 ('301000,00', 106),
 ('1750000,00', 106),
 ('22388534,00', 106),
 ('143500,00', 106),
 ('1030000,00', 106),
 ('356000,00', 106),
 ('2350000,00', 106),
 ('94500,00', 105),
 ('138500,00', 105),
 ('417000,00', 105),
 ('331000,00', 104),
 ('371000,00', 104),
 ('78500,00', 104),
 ('1220000,00', 104),
 ('134500,00', 104),
 ('875000,00', 103),
 ('885000,00', 103),
 ('478000,00', 103),
 ('354000,00', 103),
 ('1090000,00', 103),
 ('118500,00', 103),
 ('366000,00', 103),
 ('402000,00', 102),
 ('99500,00', 102),
 ('389000,00', 102),
 ('121500,00', 101),
 ('379000,00', 101),
 ('139500,00', 101),
 ('212500,00', 101),
 ('173500,00', 101),
 ('33000,00', 101),
 ('171500,00', 101),
 ('403000,00', 100),
 ('1130000,00', 100),
 ('6000,00', 100),
 ('20337240,00', 100),
 ('427000,00', 100),
 ('438000,00', 100),
 ('1025000,00', 100),
 ('3200000,00', 100),
 ('124500,00', 99),
 ('394000,00', 99),
 ('452000,00', 99),
 ('1500,00', 99),
 ('925000,00', 99),
 ('135500,00', 99),
 ('128500,00', 98),
 ('199500,00', 98),
 ('98500,00', 98),
 ('422000,00', 98),
 ('456000,00', 97),
 ('180500,00', 97),
 ('163500,00', 97),
 ('2800000,00', 97),
 ('177500,00', 97),
 ('68500,00', 97),
 ('73500,00', 97),
 ('458000,00', 96),
 ('176500,00', 96),
 ('91500,00', 96),
 ('119500,00', 96),
 ('1950000,00', 96),
 ('3500000,00', 95),
 ('1110000,00', 95),
 ('85500,00', 95),
 ('89400,00', 95),
 ('12000000,00', 95),
 ('6165698,00', 95),
 ('391000,00', 94),
 ('86500,00', 94),
 ('81500,00', 94),
 ('482000,00', 94),
 ('2450000,00', 94),
 ('90500,00', 93),
 ('159500,00', 93),
 ('426000,00', 93),
 ('344000,00', 92),
 ('153500,00', 92),
 ('447000,00', 92),
 ('154500,00', 92),
 ('1230000,00', 92),
 ('462000,00', 91),
 ('341000,00', 91),
 ('945000,00', 91),
 ('1170000,00', 91),
 ('30000000,00', 91),
 ('5135162,00', 91),
 ('386000,00', 90),
 ('2050000,00', 90),
 ('106500,00', 90),
 ('227500,00', 90),
 ('915000,00', 89),
 ('181500,00', 89),
 ('129500,00', 89),
 ('257500,00', 89),
 ('207500,00', 89),
 ('160500,00', 88),
 ('4826329,00', 88),
 ('197500,00', 88),
 ('247500,00', 88),
 ('351000,00', 88),
 ('175500,00', 88),
 ('396000,00', 88),
 ('165500,00', 88),
 ('7958599,00', 88),
 ('217500,00', 87),
 ('104500,00', 87),
 ('472000,00', 87),
 ('79500,00', 87),
 ('805000,00', 87),
 ('89500,00', 87),
 ('498000,00', 87),
 ('443000,00', 87),
 ('141500,00', 87),
 ('457000,00', 86),
 ('1010000,00', 86),
 ('429000,00', 86),
 ('158500,00', 86),
 ('52500,00', 86),
 ('146500,00', 86),
 ('6000000,00', 86),
 ('865000,00', 85),
 ('116500,00', 85),
 ('51340000,00', 85),
 ('2521500,00', 85),
 ('84500,00', 85),
 ('3900000,00', 85),
 ('83500,00', 85),
 ('3800000,00', 85),
 ('57500,00', 84),
 ('151500,00', 84),
 ('404000,00', 84),
 ('144500,00', 84),
 ('8000,00', 84),
 ('553000,00', 84),
 ('419000,00', 84),
 ('1160000,00', 84),
 ('130500,00', 84),
 ('1120000,00', 84),
 ('7000,00', 84),
 ('156500,00', 83),
 ('488000,00', 83),
 ('242500,00', 83),
 ('179500,00', 83),
 ('66500,00', 83),
 ('20500000,00', 83),
 ('477000,00', 83),
 ('28000,00', 82),
 ('1330000,00', 82),
 ('2750000,00', 82),
 ('114500,00', 82),
 ('168500,00', 82),
 ('63500,00', 82),
 ('126000000,00', 82),
 ('252500,00', 81),
 ('439000,00', 81),
 ('186500,00', 81),
 ('1190000,00', 81),
 ('164500,00', 81),
 ('64500,00', 81),
 ('499000,00', 81),
 ('502000,00', 81),
 ('31400000,00', 81),
 ('2139218,00', 81),
 ('169500,00', 81),
 ('5000000,00', 81),
 ('96500,00', 80),
 ('71500,00', 80),
 ('267500,00', 79),
 ('95500,00', 79),
 ('416000,00', 79),
 ('1480000,00', 79),
 ('2300000,00', 79),
 ('433000,00', 79),
 ('256500,00', 79),
 ('492000,00', 79),
 ('2625,00', 79),
 ('211500,00', 78),
 ('155500,00', 78),
 ('70500,00', 78),
 ('41000,00', 78),
 ('486000,00', 78),
 ('185500,00', 78),
 ('3507777,00', 78),
 ('174500,00', 78),
 ('218500,00', 77),
 ('262500,00', 77),
 ('453000,00', 77),
 ('467000,00', 77),
 ('219500,00', 77),
 ('2850000,00', 77),
 ('6900000,00', 77),
 ('4076699,00', 77),
 ('170500,00', 76),
 ('120500,00', 76),
 ('1320000,00', 75),
 ('406000,00', 75),
 ('1360000,00', 75),
 ('184500,00', 75),
 ('100500,00', 75),
 ('74500,00', 75),
 ('183500,00', 75),
 ('2500,00', 75),
 ('12000,00', 75),
 ('409000,00', 75),
 ('1240000,00', 74),
 ('1680000,00', 74),
 ('24000,00', 74),
 ('105500,00', 74),
 ('101500,00', 74),
 ('116900,00', 74),
 ('9089354,00', 74),
 ('61500,00', 73),
 ('100,00', 73),
 ('454000,00', 73),
 ('69500,00', 73),
 ('2573844,00', 73),
 ('190500,00', 73),
 ('206500,00', 73),
 ('223500,00', 73),
 ('466000,00', 73),
 ('193500,00', 73),
 ('4300000,00', 73),
 ('3124156,00', 73),
 ('145500,00', 72),
 ('332500,00', 72),
 ('436000,00', 72),
 ('287500,00', 72),
 ('995000,00', 72),
 ('6500000,00', 72),
 ('1716924,00', 72),
 ('115500,00', 72),
 ('463000,00', 72),
 ('2007031,00', 72),
 ('449000,00', 71),
 ('424000,00', 71),
 ('1290000,00', 71),
 ('523000,00', 71),
 ('150100,00', 71),
 ('150500,00', 71),
 ('513000,00', 71),
 ('5897800,00', 71),
 ('208500,00', 70),
 ('58500,00', 70),
 ('277500,00', 70),
 ('895000,00', 70),
 ('140500,00', 70),
 ('2550000,00', 70),
 ('233500,00', 70),
 ('201500,00', 70),
 ('18000,00', 70),
 ('4300309,00', 70),
 ('3572888,00', 70),
 ('109500,00', 69),
 ('357500,00', 69),
 ('292500,00', 69),
 ('22000,00', 69),
 ('528000,00', 69),
 ('2735000,00', 69),
 ('900360,60', 69),
 ('935000,00', 68),
 ('572000,00', 68),
 ('434000,00', 68),
 ('489000,00', 68),
 ('446000,00', 67),
 ('537000,00', 67),
 ('1520000,00', 67),
 ('1270000,00', 67),
 ('1210000,00', 67),
 ('5996088,00', 67),
 ('1340000,00', 67),
 ('14200000,00', 67),
 ('6989021,00', 67),
 ('27000,00', 66),
 ('214500,00', 66),
 ('65500,00', 66),
 ('401000,00', 66),
 ('24410000,00', 66),
 ('216500,00', 66),
 ('31000,00', 66),
 ('6437344,00', 66),
 ('191500,00', 65),
 ('245500,00', 65),
 ('188500,00', 65),
 ('3154900,00', 65),
 ('267660,00', 65),
 ('955000,00', 65),
 ('512000,00', 65),
 ('381000,00', 65),
 ('568000,00', 65),
 ('1575000,00', 65),
 ('51010000,00', 65),
 ('483000,00', 64),
 ('236500,00', 64),
 ('2030000,00', 64),
 ('7500000,00', 64),
 ('4050000,00', 64),
 ('272500,00', 64),
 ('248500,00', 64),
 ('7800000,00', 64),
 ('275500,00', 63),
 ('1125000,00', 63),
 ('441000,00', 63),
 ('23000,00', 63),
 ('557000,00', 63),
 ('198500,00', 63),
 ('414000,00', 63),
 ('474000,00', 63),
 ('203500,00', 63),
 ('226500,00', 63),
 ('200500,00', 63),
 ('9000,00', 63),
 ('44440000,00', 63),
 ('15300000,00', 63),
 ('195500,00', 62),
 ('1310000,00', 62),
 ('7250000,00', 62),
 ('14600000,00', 62),
 ('522000,00', 62),
 ('8600000,00', 62),
 ('2499879,00', 62),
 ('9011679,00', 62),
 ('159300,00', 61),
 ('307500,00', 61),
 ('905000,00', 61),
 ('3700000,00', 61),
 ('469000,00', 61),
 ('461000,00', 61),
 ('1630000,00', 61),
 ('194500,00', 61),
 ('110500,00', 61),
 ('204500,00', 60),
 ('75500,00', 60),
 ('279500,00', 60),
 ('215500,00', 60),
 ('9360000,00', 60),
 ('5899535,00', 60),
 ('12735785,00', 60),
 ('135000000,00', 60),
 ('31345598,00', 60),
 ('473000,00', 60),
 ('493000,00', 60),
 ('239500,00', 60),
 ('527000,00', 60),
 ('238500,00', 60),
 ('3100000,00', 60),

In [302]:
def replaceStringToInt(tup):
        tup[3] = tup[3].split(',')[0]
        tup[3] = int(tup[3])
        
        tup[6] = int(tup[6])
        tup[8] = float(tup[8])
        tup[9] = int(tup[9])
        tup[10] = float(tup[10])
        
        return tup

In [303]:
rdd_estate_clean = rdd_estate_clean.map(lambda tup: replaceStringToInt(tup))

In [304]:
rdd_estate_clean.take(1)

[['NICE',
  '26/03/2015',
  'SALE',
  102000,
  '6000',
  'NICE',
  1,
  'APARTMENT',
  29.0,
  2,
  0.0]]

In [305]:
rdd_estate_clean.count()

478005

M Price Filter per City

In [306]:
rdd_estate_clean = rdd_estate_clean.map(lambda tuple: list(tuple))

rdd_estate_clean.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  102000,
  '6000',
  'NICE',
  1,
  'APARTMENT',
  29.0,
  2,
  0.0],
 ['NICE',
  '10/04/2015',
  'SALE',
  239000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  51.0,
  2,
  0.0],
 ['NICE',
  '23/03/2015',
  'SALE',
  410000,
  '6200',
  'NICE',
  2,
  'APARTMENT',
  60.0,
  3,
  0.0],
 ['NICE',
  '08/04/2015',
  'SALE',
  215000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  67.0,
  3,
  0.0],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  500.0],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  1267.0],
 ['NICE',
  '02/04/2015',
  'SALE',
  130000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  31.0,
  1,
  0.0],
 ['NICE',
  '24/03/2015',
  'SALE',
  115000,
  '6000',
  'NICE',
  2,
  'APARTMENT',
  50.0,
  2,
  0.0],
 ['NICE',
  '03/04/2015',
  'SALE',
  172500,
  '6100',
  'NICE',
  2,
  'APARTMENT',
  63.0,
  4,
  0.0],
 ['NICE',
  '09/04/2015',
  'SALE',
  360000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  109.0,
  5,
  502.0]]

In [307]:
def priceperM2(tup):
        tup.append(int(tup[3])/int(tup[8]))
        return tup

In [308]:
#list[11] = price per m

rdd_estate_clean = rdd_estate_clean.map(lambda tup: priceperM2(tup))

rdd_estate_clean.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  102000,
  '6000',
  'NICE',
  1,
  'APARTMENT',
  29.0,
  2,
  0.0,
  3517.2413793103447],
 ['NICE',
  '10/04/2015',
  'SALE',
  239000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  51.0,
  2,
  0.0,
  4686.274509803921],
 ['NICE',
  '23/03/2015',
  'SALE',
  410000,
  '6200',
  'NICE',
  2,
  'APARTMENT',
  60.0,
  3,
  0.0,
  6833.333333333333],
 ['NICE',
  '08/04/2015',
  'SALE',
  215000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  67.0,
  3,
  0.0,
  3208.955223880597],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  500.0,
  3906.25],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  1267.0,
  3906.25],
 ['NICE',
  '02/04/2015',
  'SALE',
  130000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  31.0,
  1,
  0.0,
  4193.548387096775],
 ['NICE',
  '24/03/2015',
  'SALE',
  115000,
  '6000',
  'NICE',
  2,
  'APARTMENT',
  50.0,
  2,
  0.0,
  2300.0],
 ['NICE',
  '03/04/2015',
  'SALE',
  172500,
  '6100',
  'NICE',
  2,
  'APARTMENT',
  63.0,
  4,
  0.0,
  2738.095238095238],
 ['NICE',
  '09/04/2015',
  'SALE',
  360000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  109.0,
  5,
  502.0,
  3302.7522935779816]]

In [309]:
rdd_estate_clean.count()

478005

In [310]:
def filterPricePerM2PerCity(tup):
    if tup[0] == 'NANTES' and 0 <= tup[11] <= 10000: 
        return tup
    elif tup[0] == 'TOULOUSE' and 0 <= tup[11] <= 10000:
        return tup
    elif tup[0] == 'MONTPELLIER' and 0 <= tup[11] <= 12000:
        return tup 
    elif tup[0] == 'LILLE' and 0 <= tup[11] <= 9000:
        return tup
    elif tup[0] == 'BORDEAUX' and 0 <= tup[11] <= 12000:
        return tup 
    elif tup[0] == 'PARIS' and 0 <= tup[11] <= 49000:
        return tup 
    elif tup[0] == 'LYON' and 0 <= tup[11] <= 15000:
        return tup 
    elif tup[0] == 'MARSEILLE' and 0 <= tup[11] <= 12000:
        return tup 
    elif tup[0] == 'NICE' and 0 <= tup[11] <= 15000:
        return tup

In [311]:
rdd_estate_clean = rdd_estate_clean.map(lambda tup : filterPricePerM2PerCity(tup))\
                                   .filter(lambda tup : tup != None)

rdd_estate_clean.take(10)

[['NICE',
  '26/03/2015',
  'SALE',
  102000,
  '6000',
  'NICE',
  1,
  'APARTMENT',
  29.0,
  2,
  0.0,
  3517.2413793103447],
 ['NICE',
  '10/04/2015',
  'SALE',
  239000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  51.0,
  2,
  0.0,
  4686.274509803921],
 ['NICE',
  '23/03/2015',
  'SALE',
  410000,
  '6200',
  'NICE',
  2,
  'APARTMENT',
  60.0,
  3,
  0.0,
  6833.333333333333],
 ['NICE',
  '08/04/2015',
  'SALE',
  215000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  67.0,
  3,
  0.0,
  3208.955223880597],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  500.0,
  3906.25],
 ['NICE',
  '20/03/2015',
  'SALE',
  625000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  160.0,
  5,
  1267.0,
  3906.25],
 ['NICE',
  '02/04/2015',
  'SALE',
  130000,
  '6200',
  'NICE',
  1,
  'APARTMENT',
  31.0,
  1,
  0.0,
  4193.548387096775],
 ['NICE',
  '24/03/2015',
  'SALE',
  115000,
  '6000',
  'NICE',
  2,
  'APARTMENT',
  50.0,
  2,
  0.0,
  2300.0],
 ['NICE',
  '03/04/2015',
  'SALE',
  172500,
  '6100',
  'NICE',
  2,
  'APARTMENT',
  63.0,
  4,
  0.0,
  2738.095238095238],
 ['NICE',
  '09/04/2015',
  'SALE',
  360000,
  '6200',
  'NICE',
  0,
  'HOUSE',
  109.0,
  5,
  502.0,
  3302.7522935779816]]

Price Filtering (20000 - 11 999 999)

In [312]:
rdd_estate_clean = rdd_estate_clean.filter(lambda tup : 20000 <= tup[3] <= 11999999)

rdd_estate_clean.count()

428261

Number of rooms filtering

In [313]:
rdd_estate_clean = rdd_estate_clean.filter(lambda tup : 0 <= int(tup[9]) <= 25)

rdd_estate_clean.count()

428253

# Data Visualization

Graph 1 : Price per m per city

In [314]:
spark = pyspark.sql.SparkSession.builder.appName("Spark-Dataframe-SQL").getOrCreate()

with an implicit schema

In [315]:
estate_clean_df = rdd_estate_clean.toDF(['City',
  'Sale Date',
  'Sale Type',
  'Price',
  'Postal Code',
  'Commune',
  'Number of lots',
  'Local Type',
  'Living Area',
  'Number of rooms',
  'Land Area', 
 'Price per M'])

estate_clean_df.show()

+----+----------+--------------------+------+-----------+-------+--------------+----------+-----------+---------------+---------+------------------+
|City| Sale Date|           Sale Type| Price|Postal Code|Commune|Number of lots|Local Type|Living Area|Number of rooms|Land Area|      Price per M|
+----+----------+--------------------+------+-----------+-------+--------------+----------+-----------+---------------+---------+------------------+
|NICE|26/03/2015|                SALE|102000|       6000|   NICE|             1| APARTMENT|       29.0|              2|      0.0|3517.2413793103447|
|NICE|10/04/2015|                SALE|239000|       6200|   NICE|             1| APARTMENT|       51.0|              2|      0.0| 4686.274509803921|
|NICE|23/03/2015|                SALE|410000|       6200|   NICE|             2| APARTMENT|       60.0|              3|      0.0| 6833.333333333333|
|NICE|08/04/2015|                SALE|215000|       6200|   NICE|             1| APARTMENT|       67.0|              3|      0.0| 3208.955223880597|
|NICE|20/03/2015|                SALE|625000|       6200|   NICE|             0|     HOUSE|      160.0|              5|    500.0|           3906.25|
|NICE|20/03/2015|                SALE|625000|       6200|   NICE|             0|     HOUSE|      160.0|              5|   1267.0|           3906.25|
|NICE|02/04/2015|                SALE|130000|       6200|   NICE|             1| APARTMENT|       31.0|              1|      0.0| 4193.548387096775|
|NICE|24/03/2015|                SALE|115000|       6000|   NICE|             2| APARTMENT|       50.0|              2|      0.0|            2300.0|
|NICE|03/04/2015|                SALE|172500|       6100|   NICE|             2| APARTMENT|       63.0|              4|      0.0| 2738.095238095238|
|NICE|09/04/2015|                SALE|360000|       6200|   NICE|             0|     HOUSE|      109.0|              5|    502.0|3302.7522935779816|
|NICE|07/04/2015|                SALE|249000|       6200|   NICE|             1| APARTMENT|       66.0|              3|      0.0|3772.7272727272725|
|NICE|23/03/2015|                SALE|223000|       6000|   NICE|             2| APARTMENT|       73.0|              3|      0.0| 3054.794520547945|
|NICE|24/03/2015|                SALE|108000|       6200|   NICE|             1| APARTMENT|       22.0|              1|      0.0| 4909.090909090909|
|NICE|08/04/2015|                SALE|142000|       6200|   NICE|             1| APARTMENT|       75.0|              3|      0.0|1893.3333333333333|
|NICE|07/04/2015|                SALE|283000|       6000|   NICE|             1| APARTMENT|       76.0|              3|      0.0| 3723.684210526316|
|NICE|26/03/2015|                SALE|173000|       6200|   NICE|             2| APARTMENT|       74.0|              3|      0.0| 2337.837837837838|
|NICE|17/04/2015|                SALE|660000|       6200|   NICE|             2| APARTMENT|      125.0|              5|      0.0|            5280.0|
|NICE|12/03/2015|SALE BEFORE COMPL...|126000|       6200|   NICE|             1| APARTMENT|       28.0|              1|      0.0|            4500.0|
|NICE|31/03/2015|                SALE|252030|       6000|   NICE|             2| APARTMENT|       79.0|              3|      0.0| 3190.253164556962|
|NICE|23/03/2015|                SALE|151000|       6200|   NICE|             1| APARTMENT|       34.0|              1|      0.0| 4441.176470588235|
+----+----------+--------------------+------+-----------+-------+--------------+----------+-----------+---------------+---------+------------------+
only showing top 20 rows

In [316]:
estate_clean_df.printSchema()

root
 |-- City: string (nullable = true)
 |-- Sale Date: string (nullable = true)
 |-- Sale Type: string (nullable = true)
 |-- Price: long (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Commune: string (nullable = true)
 |-- Number of lots: long (nullable = true)
 |-- Local Type: string (nullable = true)
 |-- Living Area: double (nullable = true)
 |-- Number of rooms: long (nullable = true)
 |-- Land Area: double (nullable = true)
 |-- Price per M: double (nullable = true)

with an explicit schema

In [214]:
# we first need to import types (e.g. StructType, StructField, IntegerType, etc.)
from pyspark.sql.types import *

In [215]:
# schema creation

purchaseSchema =StructType ( [StructField("City", StringType(), False),
                              StructField("Sale Date", StringType(), False),
                              StructField("Sale Type", StringType(), False),
                              StructField("Price", DoubleType(), False),
                              StructField("Postal Code", StringType(), False),
                              StructField("Commune", StringType(), False),
                              StructField("Number of lots", IntegerType(), False),
                              StructField("Local Type", StringType(), False),
                              StructField("Living Area", IntegerType(), False),
                              StructField("Number of rooms", IntegerType(), False),
                              StructField("Land Area", IntegerType(), False),
                              StructField("Price per M", DoubleType(), False),
                             ] )

In [ ]:
rdd_estate_clean.map(lambda tuple: (tuple[11],1))\
                .reduceByKey(lambda x,y : x+y)\
                .sortBy(lambda tuple: tuple[1], ascending=False)\
                .filter(lambda tuple: tuple[1])\
                .collect()